<%- include('./partials/header');-%>
<p>Doctor Dashboard</p>
<% data.forEach(function(d) { %>
    <%= d.user_id.name %>
    <%= d.appointment_date %>
    <%= d.time_slot %>
    <br>
<% })%>
<%- include('./partials/footer');-%>